body {
   font-family: 'Old Standard TT', serif; /* Menggunakan font serif yang sesuai dengan gaya medival */
   background-color: #f7d488; /* Warna latar belakang krem */
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   color: #463f3a; /* Warna teks cokelat tua */
}

.container {
   background-color: rgba(255, 255, 255, 0.9);
   padding: 50px;
   border-radius: 20px;
   text-align: center;
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
   width: 80%;
}

h1 {
   font-size: 2.5em;
   margin-bottom: 20px;
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
   color: #632818;
}

a {
   display: inline-block;
   margin: 10px;
   padding: 12px 24px;
   color: #f7d488;
   background-color: #632818;
   text-decoration: none;
   border-radius: 30px;
   font-size: 1.2em;
   transition: background-color 0.3s;
}

a:hover {
   background-color: #632818;
}

a.dashboard-link {
   background-color: #632818;
}

a.dashboard-link:hover {
   background-color: #4a1c0c;
}

a.back-link {
   background-color: #632818;
}

a.back-link:hover {
   background-color: #4a1c0c;
}

table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 10px;
   border: 1px solid #463f3a;
   background-color: #f7d488;
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

th, td {
   border: 1px solid #463f3a;
   padding: 12px;
   text-align: left;
}

th {
   background-color: #f2f2f2;
   color: #463f3a;
   font-size: 1.1em;
}

input[type="text"],
input[type="email"],
input[type="password"] {
   width: calc(100% - 20px);
   padding: 14px;
   margin-bottom: 20px;
   border-radius: 10px;
   box-sizing: border-box;
   font-size: 1em;
   border: none;
   background-color: #f7d488;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

       .custom-upload-btn {
       background-color: #632818;
      color: #f7d488;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 10px;
      font-size: 1em;
      transition: background-color 0.3s;
     }

     .custom-upload-btn:hover {
         background-color: #4a1c0c; 
     }

     input[type="file"] {
         display: none;
}

input[type="submit"] {
   background-color: #632818;
   color: #f7d488;
   border: none;
   padding: 14px 28px;
   cursor: pointer;
   border-radius: 10px;
   font-size: 1em;
   transition: background-color 0.3s;
}

input[type="submit"]:hover {
   background-color: #4a1c0c; 
}

.container img {
   max-width: 200px;
   max-height: 200px;
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
}